* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cartPopover {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
}

.articlePhoto {
  width: 60%;
  height: 100px;
}
