* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bigContainer{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /*border: 1px solid yellow;*/
}

.topBar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 2px;
}
.products{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.pd-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-cart{
  margin-left: 5px;
}
.pd-price{
  display: flex;
  flex-direction: column;
}

.pd-tag{
  margin-left: 5px;
} 

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.buttons :first-child{
  padding-bottom: 1.5px;
  margin-right: 3px;
}

.buttons :last-child{
  margin-left: 3px;
}


.buttons button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color:#fafafa ;
  width: 13px;
  height: 13px;

}

.checkout-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.checkout-btn{
  background: #000;
  width: 100px;
  height:25px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.prodPhoto {
  width: 60px;
  height: 80px;
}

.order-info{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.order-text{
color: #000;
/* font-family: Proxima Nova; */
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#shipment{
  color: rgba(130, 130, 130, 0.85);
}

#shipment-info, #shipment-price{
  color: rgba(130, 130, 130, 0.85);
}

/* .prices{

} */

