* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cart-items{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1;
}
.container-cart-items img {
 width: 100px;
 height: 100px;

}